In [1]:
# 导入必要的库
import pandas as pd

# 读取CSV文件

data = pd.read_csv('total_no_context.csv')

In [2]:
data

,x,y,line,algo,new_x,new_y,new_size,new_color,new_year,new_country,old_x,old_y,old_size,old_color,old_year,old_country,multiplicity[1;67]
0,-0.098361,-7.130687,0,year_only,gdp,life_expect,population,continent,1800,[],gdp,life_expect,population,continent,1800,[],67
1,0.349569,-7.167822,0,year_only,gdp,life_expect,population,continent,1802,[],gdp,life_expect,population,continent,1800,[],3
2,0.876214,-7.254668,0,year_only,gdp,life_expect,population,continent,1804,[],gdp,life_expect,population,continent,1802,[],3
3,1.469967,-7.404316,0,year_only,gdp,life_expect,population,continent,1806,[],gdp,life_expect,population,continent,1804,[],3
4,4.339622,-7.742316,0,year_only,gdp,life_expect,population,continent,1808,[],gdp,life_expect,population,continent,1806,[],3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2921,-22.806341,27.352733,66,countries,gdp,life_expect,population,continent,1800,['Malaysia'; 'Romania'; 'Mexico'; 'Kiribati'; ...,gdp,life_expect,population,continent,1800,['Malaysia'; 'Romania'; 'Kiribati'; 'Hungary';...,1
2922,-32.943368,5.089844,66,countries,gdp,life_expect,population,continent,1800,['Malaysia'; 'Romania'; 'Mexico'; 'Kiribati'; ...,gdp,life_expect,population,continent,1800,['Malaysia'; 'Romania'; 'Mexico'; 'Kiribati'; ...,1
2923,-32.818983,4.769921,66,countries,gdp,life_expect,population,continent,1800,['Malaysia'; 'Romania'; 'Mexico'; 'Kiribati'; ...,gdp,life_expect,population,continent,1800,['Malaysia'; 'Romania'; 'Mexico'; 'Kiribati'; ...,1
2924,-32.587497,4.228326,66,countries,gdp,life_expect,population,continent,1800,['Malaysia'; 'Romania'; 'Mexico'; 'Kiribati'; ...,gdp,life_expect,population,continent,1800,['Malaysia'; 'Romania'; 'Mexico'; 'Kiribati'; ...,1
2925,-32.057892,3.365505,66,countries,gdp,life_expect,population,continent,1800,['Malaysia'; 'Romania'; 'Mexico'; 'Kiribati'; ...,gdp,life_expect,population,continent,1800,['Malaysia'; 'Romania'; 'Mexico'; 'Kiribati'; ...,30

In [3]:
import json

In [7]:
with open('output.txt', 'w', encoding='utf-8') as file:
    for index, row in data.iterrows():
        if row["new_x"] != row["old_x"]:
            file.write(f"用户关注从{row['old_x']}内容变化到{row['new_x']}\n")
        if row["new_y"] != row["old_y"]:
            file.write(f"用户关注从{row['old_y']}内容变化到{row['new_y']}\n")
        if row["new_size"] != row["old_size"]:
            file.write(f"用户关注从{row['old_size']}内容变化到{row['new_size']}\n")
        if row["new_color"] != row["old_color"]:
            file.write(f"用户关注从{row['old_color']}内容变化到{row['new_color']}\n")
        if row["new_year"] != row["old_year"]:
            file.write(f"Users focus time and have switched from {row['old_year']} year to {row['new_year']} year \n")
        if row["new_country"] != row["old_country"]:
            # 注意这里我们处理了row['new_country']，而不是整个data['new_country']
            countries_list = row['new_country'].strip("[]").split(";")
            countries_str = "; ".join([f"'{country.strip()}'" for country in countries_list])
            file.write(f"User focus country and choose {countries_str} country\n")
print("All rows processed")

All rows processed